%h1 Select a project
- $projects.each do |project|
  - if request.fullpath.include? "?"
    %h3 <a href="#{request.fullpath}&project_id=#{project.id}">#{project.name}</a>
  - else
    %h3 <a href="#{request.fullpath}?project_id=#{project.id}">#{project.name}</a>
